:root {
    --color-bg-header: #212121;
    --color-search-icon: #09cb1c;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat';
}


.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout__header {
    flex-basis: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--color-bg-header);
}

.header__title {
    color: white;
    font-size: 3.5rem;
    margin-top: 3rem;
}

.header__search-container {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 50rem;
    margin-top: 2.5rem;
    background-color: var(--color-search-icon);
    border-radius: 10px;
    overflow: hidden;
}

.search-container__input {
    flex-basis: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 1rem;
}

.search-container__input::placeholder {
    text-align: center;
}

.search-container__icon {
    margin: 0 1.5rem;
    color: white;
    font-weight: 700;
}